* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(/../calculator/assets/images/math-wallpaper.webp);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 25%;
    height: 80vh;
    border-radius: 30px;
    background-color: rgba(1, 40, 74, 0.638);
    border: 2px solid  rgb(0, 79, 149);
    box-shadow: 0px 0px 5px 5px rgb(0, 83, 156);
}

.calculator .console {
    width: 90%;
    height: 25vh;
    border-radius: 30px;
    border: 2px solid  deepskyblue;
    margin: 5% 5%;
}

.calculator .console input {
    width: 100%;
    height: 10vh;
    background-color: transparent;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 50px;
    margin: 3%;
    color: rgb(0, 225, 255);
}

.calculator .buttons {
    width: 90%;
    /* height: 47vh; */
    margin: 5% 5%;
    border-radius: 30px;
    /* background-color: aqua; */
}

.calculator .buttons .topBut {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.calculator .buttons .topBut .bt {
    width: 15%;
    height: 5vh;
    background-color: deepskyblue;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.calculator .buttons .topBut .bt:hover {
    color: aliceblue;
    background-color: rgb(0, 55, 104);;
    border: 1px solid aliceblue;
}

.calculator .buttons .but {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4% auto;
}


.calculator .buttons .but .Mbt {
    width: 24%;
    height: 6vh;
    background-color: rgba(240, 248, 255, 0.616);
    border: 1px solid aliceblue;
    border-radius: 20px;
    color: rgb(1, 40, 74);
    font-weight: bold;
    font-size: 20px;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.calculator .buttons .but .AA {
    background-color: black;
    color: aliceblue;
}

.calculator .buttons .topBut .HH {
    background-color: rgb(0, 180, 180);
}

.calculator .buttons .but .HH {
    background-color: rgb(0, 180, 180);
    color: aliceblue;
}

.calculator .buttons .lastBut .equal .HH {
    background-color: rgb(0, 180, 180);
    color: aliceblue;
}

.calculator .buttons .lastBut {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.calculator .buttons .lastBut .num {
    width: 79%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator .buttons .lastBut .num .nm {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator .buttons .lastBut .num .nm .n {
    width: 32%;
    height: 6vh;
    background-color: rgba(240, 248, 255, 0.616);
    border: 1px solid aliceblue;
    border-radius: 20px;
    color: rgb(1, 40, 74);
    font-weight: bold;
    font-size: 20px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.calculator .buttons .lastBut .num .Nm {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator .buttons .lastBut .num .Nm .mm {
    width: 66%;
    height: 6vh;
    background-color: rgba(240, 248, 255, 0.616);
    border: 1px solid aliceblue;
    border-radius: 20px;
    color: rgb(1, 40, 74);
    font-weight: bold;
    font-size: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.calculator .buttons .lastBut .num .Nm .m {
    width: 32%;
    height: 6vh;
    background-color: rgba(240, 248, 255, 0.616);
    border: 1px solid aliceblue;
    border-radius: 20px;
    color: rgb(1, 40, 74);
    font-weight: bold;
    font-size: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.calculator .buttons .lastBut .equal {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator .buttons .lastBut .eq {
    width: 100%;
    height: 14vh;
    background-color: rgba(240, 248, 255, 0.616);
    border: 1px solid aliceblue;
    border-radius: 20px;
    color: rgb(1, 40, 74);
    font-weight: bold;
    font-size: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.calculator .buttons .but .Mbt:hover,
.calculator .buttons .lastBut .num .nm .n:hover,
.calculator .buttons .lastBut .num .Nm .mm:hover,
.calculator .buttons .lastBut .num .Nm .m:hover,
.calculator .buttons .lastBut .eq:hover {
    color: aliceblue;
    background-color: rgb(0, 55, 104);
    border: 1px solid aliceblue;
}

.calculator .buttons .but .AA:hover {
    background-color: aliceblue;
    color: black;
}